# Ignore all
*

# Unignore all dirs
!*/

# Unignore .txt, .c, .h
!*.txt
!*.TXT
!*.c
!*.h
!*.cpp
!*.hpp
!*.go


!sample-data/*.csv

virtual/

*.csv

*.pyo
*.pyc
__pycache__/

._tags
*.png

!*.tex
![mM]ake[fF]ile
